# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
psycopg2
pylint-flask
# ----------------------
# Production Server
# ----------------------
gunicorn
